@import "variables";
/*Diseño all imagenes*/
.imgPrincipal{ display: flex;
   
    margin-left: 2px;
    width: 50px; height: 50px;  
}



.imgChango2{
    margin-top: 30px;
    margin-left: 30px;
    width: 110px; height: 55px;
}

.imgMain{display:block;
    margin:auto;
}

.logoig{width: 30px;
height: 30px;}
/*FIN Diseño all imagenes*/