@import "variables";
/*Seccion Contacto*/


.solapaContacto{
    color:black ;
    text-align: center;
    background-color: #FEC89A;

}

.solapaContacto ul li a{
    text-decoration:none;
    list-style: none;
   
}

/*Fin Seccion Contacto*/