<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../CSS/estilo.css">
</head>

<body class="solapaContacto">

    <h1>CONTACTO</h1>
  
        <a href="../index.html">Inicio</a>
    

    

<label>
    <form action="#">
        <label for="">Nombre</label>
        <input type="text" name="Nombre"><br><br>

        <label for="">Apellido</label>
            <input type="text" name="Apellido"><br><br>

          
                        <label>Sexo</label> 
                        <select name="sexo">
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option><br>
                        </select><br><br> 

          
            
                <label for="">Celular</label>
                    <input type="number" name="Celular"><br> <br>

                    
                    <label for="">Direccion</label>
                        <input type="number" name="Direccion"><br> <br>

                        <label for="">Email</label>
                            <input type="email" name="Email"><br><br>
                        

                            <label>Deseo recibir promociones por EMAIL</label>
                            <input type="checkbox" name="acepta" value="1"/> <br> <br>



                    <TEXTAREA NAME="" ID="" cols="60" rows="10"
                    placeholder="Pedido..."></TEXTAREA><br>

                        <input type="reset" value="Reseteame">
                        <input type="submit" value="Enviar Formulario">


                        
                        

                  


                     
                     
                       



                        </select>
 


    </label>




    </form>


</body>
</html>